{% extends "template.html" %}
{% block head %}
<head>
    <title>help</title>
    <link rel="stylesheet" href="static/css/template.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/help.css">
</head>
{% endblock head %}

{% block header %}
<header class="row">
    <ul id="nav" class="col-sm-9">
        <li><a href="/">home</a></li>
        <li><a href="/help">help</a></li>
    </ul>
</header>
{% endblock header %}

{% block main_section %}
<section class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div>
            <h1 align="center">
                Application instruction
            </h1>
            <div>
                <h3>
                    Table of contents
                </h3>
                <ol>
                    <li><a href="#basic_info">Basic information</a></li>
                    <li><a href="#device_conf">Devices configuration</a></li>
                    <li><a href="#errors_meaning">Errors status meaning</a></li>
                    <li><a href="#faq">FAQ</a></li>
                </ol>
            </div>
            <div id="basic_info">
                <h3>
                    Basic information
                </h3>
                <p>lorem ipsum</p>
            </div>
            <div id="device_conf">
                <h3>
                    Devices configuration
                </h3>
                <p>lorem ipsum</p>
            </div>
            <div id="errors_meaning">
                <h3>
                    Errors status meaning
                </h3>
                <p>lorem ipsum</p>
            </div>
            <div id="faq">
                <h3>
                    FAQ - Frequently Asked Questions
                </h3>
                <p>lorem ipsum</p>
            </div>
        </div>
    </div>
</section>
{% endblock main_section %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
        $(document).ready(()=>{
            var socket = io.connect('http://' + document.domain + ':' + location.port);
        });
</script>
{% endblock scripts %}
