{% extends "template.html" %}
{% block head %}
<title>home</title>
<link rel="stylesheet" href="static/css/template.css">
<link rel="stylesheet" href="static/css/home.css">
{% endblock head %}

{% block header %}
<header class="row">
    <ul id="nav" class="col-sm-6">
        <li><a href="/">home</a></li>
        <li><a href="/help">help</a></li>
    </ul>
    <!--<span id="error" class="alert alert-warning"></span>-->
    <div class="form-inline col-sm-6">
        <div class="form-group">
            <input id="tcp_host" type="text" placeholder="host" class="form-control">
            <input id="tcp_port" type="text" placeholder="port" class="form-control">
            <button id="tcp_btn" class="btn btn-md btn-success">connect</button>
        </div>
    </div>
</header>
{% endblock header %}

{% block main_section %}
<section class="row">
    <div class="col-sm-3 col-sm-offset-1 container-fluid">
        <div class="row">
            <h3>connection status</h3>
            <div id="div_connection_status">
                <h3 style="color: orange">Connected to: <h4 id="connection_addr">no connection</h4></h3>
                <h3 style="color: orange">Working status: <h4 id="working_status">no connection</h4></h3>
            </div>
        </div>
        <div id="div_server_response" class="row">
            <h3>server response</h3>
            <textarea readonly id="textarea_server_response" rows="10" class="form-control"></textarea>
        </div>
        <div id="div_client_response" class="row">
            <h3>kuka response</h3>
            <textarea readonly id="textarea_client_response" rows="10" class="form-control"></textarea>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1 container-fluid">
        <div class="row">
            <h3>video stream</h3>
            <div id="div_video" class="col-sm-12">
                <img id="image_left" class="col-sm-6">
                <img id="image_right" class="col-sm-6">
            </div>
        </div>
        <div id="div_system_logs" class="row">
            <h3>system logs</h3>
            <textarea readonly id="textarea_system_logs" rows="15" class="form-control"></textarea>
        </div>
    </div>
</section>
{% endblock main_section %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
        $(document).ready(()=>{
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('connect', ()=> {
                console.log('Browser client connected to websocket!');
            });

            socket.on('disconnect', ()=> {
                console.log('Browser client disconnected to websocket!');
            });

            var side = true;
            socket.on('camera', (data)=> {
                console.log(data);
                if(side){
                    $('#image_left').attr('src','data:image/jpeg;base64,'+data);
                    side = false;
                } else {
                    $('#image_right').attr('src','data:image/jpeg;base64,'+data);
                    side = true;
                }
            });

            socket.on('log', (data)=> {
                $('#textarea_system_logs').append('INFO: '+data+'\n');
            });

            socket.on('error', (data)=> {
                $('#textarea_system_logs').append('ERROR: '+data+'\n');
            });

            socket.on('tool', (data)=> {
                $('#textarea_connection_status').append(data+'\n');
            });

            socket.on('eki', (data)=> {
                var responses = data.split(',');
                $('#textarea_server_response').text(responses[0]+'\n');
                $('#textarea_client_response').text(responses[1]+'\n');
            });

            socket.on('tool', (data)=> {
                $('#textarea_client_response').append(data+'\n');
            });

            $('#tcp_btn').click(()=>{
                var host = $('#tcp_host').val();
                var port = $('#tcp_port').val();
                if($('#tcp_btn').text()=='connect'){
                    if(host == '' || port == ''){
                        msg = 'Invalid tcp params!';
                        console.log(msg);
                        $('#textarea_system_logs').append('ERROR: '+msg+'\n');
                    } else {
                        $('#tcp_btn').text('abort');
                        $('#tcp_host').attr('readonly', true);
                        $('#tcp_port').attr('readonly', true);
                        $('#tcp_btn').toggleClass('btn-success btn-danger');
                        msg = 'Starting tcp connection on ' + host + ':' + port;
                        console.log(msg);
                        $('#textarea_system_logs').append('INFO: '+msg+'\n');
                        socket.emit('tcp_start', {host: host, port: port});
                    }
                } else {
                    $('#tcp_btn').text('connect');
                    $('#tcp_host').attr('readonly', false);
                    $('#tcp_port').attr('readonly', false);
                    $('#tcp_btn').toggleClass('btn-danger btn-success');
                    msg = 'Stopping tcp connection on ' + host + ':' + port
                    console.log(msg);
                    $('#textarea_system_logs').append('INFO: '+msg+'\n');
                    socket.emit('tcp_stop', {host: host, port: port});
                }
            });
        });




</script>
{% endblock scripts %}